body {
     text-align: center;
     margin: 0 auto;
     height: 480px;
     padding-top: 80px;
     background-image: url('https://images.pexels.com/photos/278881/pexels-photo-278881.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
     background-size: cover;
}

 header {
     padding-top: 35px;
}

 main {
     background-color: rgba(255,255,255,0.7);
     width: 700px;
     height: 400px;
     margin: 0 auto;
}

 h1 {
     font-family: 'Anton', sans-serif;
     color: #755D30;
     font-size: 45px;
}

 .box {
     font-family: 'Lobster', cursive;
     font-size: 20px;
}

 .trigger {
     border: none;
     background-color: #755D30;
     color: black;
     padding-left: 10px;
     padding-right: 10px;
     font-family: 'Anton', sans-serif;
}

 .tweet {
     color: #755D30;
     text-decoration: none;
     font-family: 'Anton', sans-serif;
}
